* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

ul {
    display: flex;
    justify-content: space-around;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

header {
    grid-column: 1 / 4;
    display: grid;
}

h1 {
    color: white;
    background-color: rgb(60, 60, 60);
    height: 100px;
    padding: 1rem;
}

ul {
    background-color: black;
    padding: 1rem;
}

.main-content {
    grid-column: 1/ 3;
    background-color: lightgray;
    padding: 1rem;
}

.aside-content {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    padding: 1rem;

}

footer {
    grid-column: 1/4;
    text-align: center;
    color: white;
    background-color: rgb(27, 27, 27);
    height: 100px;
    padding: 1rem;
}